* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; 
	font-family: sans-serif;
	font-size: 11px;
}

body {
	width: 350px;
	max-height: 550px;
	background: #fff;
}

header {
	font-weight: bold;
	padding: 0 0 10px 0;
}

.message {
	display: none;
	color: red;
}

.scrollable {
	overflow: auto;
	width: 100%;
	height: 100%;
	display: none;
}

.show {
	display: block;
}

.query-values {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #ccc;
}

.query-values tr th {
	font-weight: bold;
	text-align: left;
}

.query-values tr td, .query-values tr th {
	width: 50%;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	padding: 3px 5px;
	background-color: #ccc;
}

.query-values tr:nth-child(even) td {
	background-color: #fffff4;
}

.query-values tr:nth-child(odd) td {
	background-color: #FFF;
}

.query-values tr td:first-child, .query-values tr th:first-child {
	border-left: none;
}

.query-values tr th {
	border-top: none;
}

.copy {
	margin-top: 15px;
}

.copy a {
	color: #ccc;
	font-size: 9px;
}
